body
{
    background-color: #FDDD60;
}

h1
{
    font-size:32pt;
     color: blue;
}

a.home_link
{
    text-decoration: none;
}

a.home_link:link
{
    color:blue;
}

a.home_link:hover
{
    color:gold;
}

a.home_link:visited
{
    color:blue;
}

table.cart_table
{
    margin:auto;
    background:#FAFAFA;
    color:#000040;
    border: 1px solid #666;
    border-collapse: collapse;
}

table.cart_table th
{
    font-size: 24px;
    background: #99F;
    padding:20px;
}

table.cart_table td
{
    font-size: 16px;
    padding:15px;

}

table.cart_table tr:hover
{
    background-color:#eef;
}