body
{
    background-color: #FDDD60;
    font: 100% verdana, arial, sans-serif;
}

#border1
{
	border-radius:200px;
    border-style: outset;
	background:#3333DD;
    background: linear-gradient(to bottom right, #DDF 5%, rgba(60,60,230,1),#DDF 95%);
	color:#FAFAFA;
	padding:50px;
}

h1
{
    text-align: center;
    font-size:32pt;
    color: #000080;
}

div.header
{
    margin:10px;
    padding:10px;
}

div.checkout
{
    padding:20px;
}

a.home_link
{
    text-decoration: none;
}

a.home_link:link
{
    color:blue;
}

a.home_link:hover
{
    color:gold;
}

a.home_link:visited
{
    color:blue;
}

table.cart_table
{
    margin:auto;
    background:#FAFAFA;
    color:#000040;
    border: 1px solid #666;
    border-collapse: collapse;
}

table.cart_table th
{
    font-size: 24px;
    background: #99F;
    padding:20px;
}

table.cart_table td
{
    font-size: 16px;
    padding:15px;

}

table.cart_table tr:hover
{
    background-color:#eef;
}