#border1
{
	border-radius:200px;
	border-style: outset;
	background:#3333DD;
	background: linear-gradient(to bottom right, #DDF 5%, rgba(60,60,230,1),#DDF 95%);
	color:#FAFAFA;
	padding:50px;
}

body
{
	font: 100% verdana, arial, sans-serif;
	background: #FDDD60;
	background: linear-gradient(#FDDD60,#FE8 400px,#FDDD60);
	margin: 50px;
	color:#3333DD;
}

#login
{
	float: left;
	padding:0px 10px;
}

#register
{
	float: left;
	padding:0px 10px;
}

#products
{
	float: right;
}

div.header h1
{
	margin: 0px 30px 30px;

}

div.header h2
{

}

div.header img
{
	width:25px;
	height:25px;
}

div.banner img
{
	width:100%;
	border-style: groove;
}

div.user_area
{
	width:40%;
	alignment: center;
	color:#000080;
	font-size: 20px;
	background:#FAFAFA;
	border-style: groove;
	padding:40px 25px;
	margin:20px auto;
}

div.featured_content
{
	color:#000080;
	font-size: 20px;
	background:#FAFAFA;
	padding:10px 25px;
	margin:20px;
}

div.featured_content img
{
	width:200px;
	height:auto;
}

div.feature_header
{
	font-size:30px;
	border-bottom: solid 2px;
	text-align:center;
}

img.featured_icon
{
	width:50px;
	height:auto;
}

h1
{
	font-size:32pt;
	text-align:center;
}

a.link
{
    text-decoration: none;
}

a.link:link
{
    color:#33D;
}

a.link:hover
{
    color:#FAFAFA;
}

a.link:visited
{
    color:#33D;
}