#border1
{
	border-radius:200px;
	background:#3333DD;
	color:#FAFAFA;
	padding:50px;
}

body
{
	font: 100% verdana, arial, sans-serif;
	background: #FDDD60;
	margin: 50px;
	color:#3333DD;
}

div.header h1
{
	margin: 0px 30px 30px;

}

div.header h2
{
	text-align:right;
}

div.header img
{
	width:25px;
	height:25px;
}

div.banner img
{
	width:100%;
}

div.featured_content
{
	color:#000080;
	font-family: Arial;
	font-size: 20px;
	background:#FAFAFA;
	padding:10px 25px;
	margin:20px;
}

div.featured_content img
{
	width:200px;
	height:auto;
}

div.feature_header
{
	font-size:30px;
	border-bottom: solid 2px;
	text-align:center;
}

img.featured_icon
{
	width:50px;
	height:auto;
}

h1
{
	font-size:32pt;
	text-align:center;
}

a.product_link
{
    text-decoration: none;
}

a.product_link:link
{
    color:#33D;
}

a.product_link:hover
{
    color:#FAFAFA;
}

a.product_link:visited
{
    color:#33D;
}