body
{
    font: 100% verdana, arial, sans-serif;
    background-color:#FDDD60 ;
    margin: 50px;
}

/* begin css tabs */

#tabs
{
    font: bold 12px verdana, arial, sans-serif; /* set font as desired */
    width:50%;
    margin: 0px auto;
    border-bottom: 1px solid #DAA520; /* line color*/
}

ul#tabnav li
{ /* do not change */
    display: inline;
    margin: 1em auto; /* set margins as desired */
}

.tab
{ /* settings for selected tab */
    margin: 0px auto;
}

.link:link
{ /* settings for selected tab link */
    background-color: #fff; /* set selected tab background color as desired */
    color: #000; /* set selected tab link color as desired */
    position: relative;
    top: 1px;
    padding: 4px 0px;
}

ul#tabnav li a
{ /* settings for all tab links */
    padding: 3px 4px;
    border: 1px solid #DAA520; /* tabborder color */
    background-color:	#000080 ; /* tab background */
    color: #fff; /* tab font color */
    margin-right: 0px;
    text-decoration: none;
    border-bottom: none;
}

ul#tabnav a:hover
{ /* settings for hover effect */
    background:#fff; /* set desired hover color */
}

#banner
{
    width: 100%;
}

h1
{
    text-align: center;
   font-size: 32pt;
   color: #3333DD
}

#h2
{
    width:50px;
	height: 50px;
}

h3
{
    text-align: right;
    width:25px;
	height:25px;
}

#border1
{
	border-radius:200px;
	background:#3333DD;
	color:#FAFAFA;
	padding:50px;
}

a.home_link
{
    text-decoration: none;
}

a.home_link:link
{
    color:blue;
}

a.home_link:hover
{
    color:gold;
}

a.home_link:visited
{
    color:#FAFAFA;
}

table.product_table
{
    margin:auto;
    background:#FAFAFA;
    color:#000040;
    border: 1px solid #666;
    border-collapse: collapse;
}

table.product_table th
{
    font-size: 24px;
    background: #99F;
    padding:20px;
}

table.product_table td
{
    font-size: 16px;
    padding:15px;

}

table.product_table tr:hover
{
    background-color:#eef;
}