<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href ="../static/cart_style.css">
        <title>Checkout Cart</title>

        <script type="text/javascript">
            function loadTable()
            {
                arguments.callee.preventAdditional; //only one table or message will be generated

                var location = document.getElementsByClassName('cart_content')[0];
                if(true && !arguments.callee.preventAdditional)//Make call to database to see if items exist in cart
                {
                    //setup of table
                    var numTypes=3; //however many types we want displayed e.g. name, price, etc.
                    var t = document.createElement("table");
                    t.style.width='100%';
                    t.setAttribute('border','1');
                    t.className="cart_table";
                    var tHead = document.createElement("thead");
                    var tBody = document.createElement("tbody");

                    //add header to table
                    var th = document.createElement("th");
                    th.innerHTML="Part Cart";
                    th.setAttribute("colSpan",numTypes.toString());
                    var titleRow = document.createElement("tr");
                    for(var i=0;i<numTypes;i++)//
                    {
                        var h = document.createElement("th");
                        switch(i)
                        {
                            case 0:
                                h.innerHTML = "Picture";
                                break;
                            case 1:
                                h.innerHTML = "Product";
                                break;
                            case 2:
                                h.innerHTML = "Price";
                                break;
                        }
                        titleRow.appendChild(h);
                    }
                    tHead.appendChild(th);
                    tHead.appendChild(titleRow);

                    //add body of table
                    for(var i=0;i<4;i++)//for each item in cart database
                    {
                        //add a column for picture, name, and price
                        var row = document.createElement("tr");
                        for(var j=0;j<3;j++)
                        {
                            var col = document.createElement("td");
                            switch(j)
                            {
                                case 0://picture
                                    col.innerHTML="I'm a picture";
                                    break;
                                case 1://name
                                    col.innerHTML="I'm a product";
                                    break;
                                case 2://price
                                    col.innerHTML="I'm a price";
                                    break;
                            }
                            row.appendChild(col);
                        }
                        tBody.appendChild(row);
                    }
                    t.appendChild(tHead);
                    t.appendChild(tBody);
                    location.appendChild(t);
                    arguments.callee.preventAdditional = true;
                }

                else if(!arguments.callee.preventAdditional)
                {
                    var h = document.createElement("h2");
                    h.innerHTML = "There are no items in your cart!";
                    location.appendChild(h);
                    arguments.callee.preventAdditional = true;
                }
            }

        </script>
    </head>
    <body>
        <div class="header">
            <h1>Cart</h1>
            <input type="button" value="Click here for table" onclick="loadTable()">
             <input type="button" value="Continue Shopping" onclick="location.href='products'">
        </div>

        <div class="cart_content">
            {% if items %}
                <table border="2">
                {% for item in items %}
                    <tr>
                        <td><img src="{{ item[0] }}"></td>
                        <td>{{ item[1] }}</td>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}

        </div>

        <div class="checkout">
            <input type="button" value="Checkout Cart" onclick="location.href='thankyou'">
        </div>

    </body>
</html>