<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href ="../static/cart_style.css">
        <title>Checkout Cart</title>

        <script type="text/javascript">
            function loadTable()
            {
                if(true)//Make call to database to see if items exist in cart
                {
                    var location = document.getElementsByClassName('cart_content')[0];
                    var t = document.createElement("table");
                    t.style.width='100%';
                    t.setAttribute('border','1');
                    var tHead = document.createElement("thead");
                    var tBody = document.createElement("tbody");

                    var row = document.createElement("tr");
                    var d = document.createElement("td");
                    d.innerHTML="Big Booty Bitches Part Cart";
                    row.appendChild(d);
                    tHead.appendChild(row);
                    t.appendChild(tHead);
                    location.appendChild(t);
                }

                else
                {

                }
            }

            function tableCreate()
            {
            var body = document.getElementsByClassName('cart_content')[0];
            var tbl = document.createElement('table');
            tbl.style.width = '100%';
            tbl.setAttribute('border', '1');
            var tbdy = document.createElement('tbody');
            for (var i = 0; i < 3; i++) {
                var tr = document.createElement('tr');
                for (var j = 0; j < 2; j++) {
                    if (i == 2 && j == 1) {
                        break
                    } else {
                        var td = document.createElement('td');
                        td.appendChild(document.createTextNode('\u0020'))
                        i == 1 && j == 1 ? td.setAttribute('rowSpan', '2') : null;
                        tr.appendChild(td)
                    }
                }
                tbdy.appendChild(tr);
            }
            tbl.appendChild(tbdy);
            body.appendChild(tbl)
        }
        </script>
    </head>
    <body>
        <div class="header">
            <h1>Thing</h1>
            <input type="button" value="Click here for table" onclick="loadTable()">
        </div>
        <div class="cart_content">

        </div>
    </body>
</html>