<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href ="../static/cart_style.css">
        <title>Checkout Cart</title>

        <script type="text/javascript">
            function loadTable()
            {
                if(true)//there exist cart items from database
                {
                    document.getElementById("table").innerHTML =
                            ""
                }
            }
        </script>
    </head>
    <body>
        <div class="header">

        </div>
        <div class="cart_content">
            <table class="cart_table" id="table">
                <thead>
                    <tr>
                        <td>
                            <h1>Big Booty Bitches Parts Cart</h1>
                        </td>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </body>
</html>