<!DOCTYPE html>

<html>
    <head>
	   <meta charset = "utf-8">
	   <title>GPU Page</title>
	    <link href="../static/text.css" rel="stylesheet" type="text/css" />
	 </head>
	 <body>
	 <a href="/"><center>GSU Computer INC.</center></a>
	<ul id="tabnav">
{#  <li class="tab1"><a href="#">Towers</a></li>#}
  <li class="tab2"><a href="CPUs">CPUS</a></li>
  <li class="tab3"><a href="VideoCards">GPUS</a></li>
  <li class="tab4"><a href="motherboards">Motherboards</a></li>
  <li class="tab5"><a href="RAM">RAM</a></li>
  <li class="tab6"><a href="PSUs">Power Supply</a></li>
{#  <li class="tab7"><a href="#">Hard Drive</a></li>#}
{#  <li class="tab8"><a href="#">SSD</a></li>#}
{#  <li class="tab9"><a href="#">Coolers</a></li>#}
{#  <li class="tab10"><a href="#">OS</a></li>#}

</ul>

     <p>This is the GPU Page</p>
<p>
         <table>
         <tr>
             <td>Brand</td>
             <td>Model</td>
             <td>Interface</td>
             <td>Manufacturer</td>
             <td>Type</td>
             <td>Size</td>
             <td>Memory Type</td>
             <td></td>
         </tr>
         {% for gpu in supplies %}
         <tr>
             <td> {{ gpu.brand }}</td>
             <td> {{ gpu.model }}</td>
             <td> {{ gpu.interface }}</td>
             <td> {{ gpu.manufacturer }}</td>
             <td> {{ gpu.type }}</td>
             <td> {{ gpu.size }}</td>
             <td>{{ gpu.memorytype }}</td>
{#             <td> <img src={{ supplies.img }}></td>#}
         </tr>
        {% endfor %}
         </table>

     </p>
	  </body>
</html>