<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BBBP Homepage</title>
    <link rel="stylesheet" type="text/css" href="../static/home_style.css">
</head>
<body>
		<!-- Header showing name of website -->
		<div class="header">
			<h1 id="border1">GSU Computer Company</h1>
			<h2><a href="products" class ="cart_link">Explorer</a></h2>
		</div>

		<!-- Banner picture of some computer stuff -->
		<div class="banner">
			<img src="http://www.variscite.com/images/headers/dart-sd800-banner.jpg">
		</div>

		<!-- Tabs for component searching -->
		<div>

		</div>

        <!-- Featured content -->
        <div class="featured_content">
            <div class="item1">
                <h2><img class="featured_icon" src="http://flight800.org/nasa_logo.gif">GeForce 980 Ti Graphics Card</h2>
                <p>Description here</p>
            </div>
            <div class="item2">
                <h2><img class="featured_icon" src="http://flight800.org/nasa_logo.gif">Intel i7 QuadCore Processor</h2>
                <p>Description here</p>
            </div>
        </div>
	</body>
</html>