<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BBBP Homepage</title>
    <link rel="stylesheet" type="text/css" href="../static/home_style.css">
</head>
<body>
		<!-- Header showing name of website -->
		<div class="header">
			<h1 id="border1">Big Booty Bitches Parts</h1>
			<h2><a href="products.html">Cart</a><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/28468-200.png"></h2>
		</div>

		<!-- Banner picture of some computer stuff -->
		<div class="banner">
			<img src="http://www.variscite.com/images/headers/dart-sd800-banner.jpg">
		</div>

		<!-- Tabs for component searching -->
		<div>

		</div>
	</body>
</html>