<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log-in or Register</title>
    <link rel="stylesheet" type="text/css" href="../static/home_style.css">
</head>
<body>
    <div class="header">
			<h1 id="border1">GSU Computer Company</h1>
    </div>

    <div>
        <div class="user_area">
            <h2>Log-in</h2>
            <hr>
            <p>Username: <input type="text"></p>
            <p>Password : <input type="password"></p>
            <input type="button" value="Submit">
        </div>
        <div class="user_area">
            <h2>Register</h2>
            <hr>
            <p>Username: <input type="text"></p>
            <p>Password : <input type="password"></p>
            <input type="button" value="Submit">
        </div>
    </div>
</body>
</html>