<html>
    <head>
	   <meta charset = "utf-8">
	   <title>Product Page</title>
        <link href = "../static/text.css" rel = "stylesheet" type = "text/css"/>
	 </head>
	 <body>
	 <h1 id = "border1"><a href="/" class = "home_link">GSU Computer Company</a></h1><a href="cart"><img id = "h2" src="static/cart.png" align = "right"></a>
     <img id="banner" src="static/motherboard2_edited.jpg" >
	<ul id="tabnav">
  <li class="tab1"><a href="Towers">Towers</a></li>
  <li class="tab2"><a href="CPUs">CPUS</a></li>
  <li class="tab3"><a href="VideoCards">GPUS</a></li>
  <li class="tab4"><a href="motherboards">Motherboards</a></li>
  <li class="tab5"><a href="RAM">RAM</a></li>
  <li class="tab6"><a href="PSUs">Power Supply</a></li>
  <li class="tab7"><a href="HardDrives">Hard Drive</a></li>
  <li class="tab8"><a href="SSDs">SSD</a></li>
  <li class="tab9"><a href="Coolers">Coolers</a></li>
    </ul>
         <table border="0" class="product_table">
         <tr>
             <td>Image</td>
             {% for column in table.columns() %}
             <td>{{column}}</td>
             {% endfor %}
         </tr>
         {% for entry in table.query.all()%}
         <tr>
         <td><img src={{(entry|string()).split()[0]}} width = "100px" height = "100px"></td>
             {% for piece in (entry|string()).split("\t")[1:] %}
             <td>{{ piece }}</td>
             {%  endfor %}
         </tr>
        {% endfor %}
         </table>


	  </body>
</html>