<!DOCTYPE html>

<html>
    <head>
	   <meta charset = "utf-8">
	   <title>Product Page</title>
        <link href = "../static/text.css" rel = "stylesheet" type = "text/css"/>
	 </head>
	 <body>
	 <h1>Dist Web Computer Parts </h1><a href="products"><img id = "h2" src="static/cart.png" align = "right"></a>
     <img id="banner" src="static/motherboard2_edited.jpg" >
	<ul id="tabnav">
{#  <li class="tab1"><a href="#">Towers</a></li>#}
  <li class="tab2"><a href="CPUs">CPUS</a></li>
  <li class="tab3"><a href="VideoCards">GPUS</a></li>
  <li class="tab4"><a href="motherboards">Motherboards</a></li>
  <li class="tab5"><a href="RAM">RAM</a></li>
  <li class="tab6"><a href="PSUs">Power Supply</a></li>
{#  <li class="tab7"><a href="#">Hard Drive</a></li>#}
{#  <li class="tab8"><a href="#">SSD</a></li>#}
{#  <li class="tab9"><a href="#">Coolers</a></li>#}
{#  <li class="tab10"><a href="#">OS</a></li>#}


</ul>


     <p>
         <table>
         <tr>
             <td>Brand</td>
             <td>Model</td>
             <td>Max Power</td>
             <td>Dimensions</td>
         </tr>
         {% for powerSupply in supplies %}
         <tr>
             <td> {{ powerSupply.brand }}</td>
             <td> {{ powerSupply.model }}</td>
             <td> {{ powerSupply.maxpower }}</td>
             <td> {{ powerSupply.dimensions }}</td>
            <td> <img src={{ powerSupply.img }}></td>
         </tr>
        {% endfor %}
         </table>

     </p>
	  </body>
</html>